.content-form {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.title {
	text-align: center;
	color: #282529;
}

.form-title {
	background: #feffed;
	padding: 25px 0;
	border-bottom: 1px solid #000;
}

.main-form {
	padding: 20px 20px;
}

.content-form {
	border: 1px solid #000;
}

.btn-sub {
	background: #ffd662;
	width: 100%;
	color: #383434;
	font-weight: bold;
}

@media (max-width: 576px) {
	.content-form {
		width: 100%;
	}

	.fs {
		padding: 0;
	}

	.content-form {
		border: none;
	}
}

@media (min-width: 576px) and (max-width: 1022px) {
	.content-form {
		width: 100%;
	}
}